/* Animation des touches */
@keyframes opacity
{ 
  from { 
    opacity: 0;
  }
  to {
    opacity: 0.7; 
  }
}

.key-animate {
    animation: opacity .8s ease-in-out infinite alternate;
}

.key-show {
    visibility: visible;
    animation: opacity .8s ease-in-out infinite alternate;
}

.menu-show {
    visibility: visible;
    max-width: 25vmin;
    margin-left: 3vmin;
    animation: opacity .8s ease-in-out infinite alternate;
}

.keyboard-touch {
    width: 78vmin;
    height: 24vmin;
    position: relative;
    top: 0vmin;
    margin: 1vmin;
    background: url('../../../../public/images/keyboard.svg') no-repeat center;
    background-size: 78vmin;
}

.no-keyboard-image {
    display: none;
    background: none;
}

.menu-rightclick {
    margin: 0 auto;
    width: 40vmin;
    height: 60vmin;
    background: url('../../../../public/images/rightclick_menu.svg') no-repeat center;
    background-size: 40vmin;
    position: relative;
}

.content-hide {
    visibility: hidden;
    display: none;
    background: none;
}

.content-show {
    visibility: visible;
    display: block;
}

.bottomKeyboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    position: relative;
}

/* ------------------------ */
/* ---  KEYBOARD LINE 1 --- */
/* ------------------------ */
/* Touche F1 à F12 */

.keyboard-line1 {
    height: 2vmin;
    width: 71vmin;
    position: relative;
    top: 1.3vmin;
    left: 5.4vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;
    visibility: hidden;
    border: 1px solid red;
}

.touch1 {
    background-color: rgb(255, 0, 0);
    width: 3.2vmin;
    height: 3vmin;
    margin-left: 0.15vmin;
    margin-right: 0.65vmin;
}

.touch1:first-child {
    margin-left: -0.1vmin;
}

/* ------------------------ */
/* ---  KEYBOARD LINE 2 --- */
/* ------------------------ */
/* Touche 1 à 9 */

.keyboard-line2 {
    height: 3.2vmin;
    width: 47.7vmin;
    position: relative;
    top: 1.8vmin;
    left: 5.4vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    visibility: hidden;
}

.touch2 {
    background-color: rgb(255, 0, 0);
    width: 3.2vmin;
    height: 3.2vmin;
    margin-right: 1vmin;
    margin-left: -0.15vmin;
}

.touch2:first-child {
    margin-left: 0.15vmin;
}

.touch2:nth-child(8) {
    margin-left: -0.25vmin;
}

/* ------------------------ */
/* ---  KEYBOARD LINE 3 --- */
/* ------------------------ */

.keyboard-line3 {
    height: 3.2vmin;
    width: 48.6vmin;
    position: relative;
    top: 2.5vmin;
    left: 7.85vmin;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    visibility: hidden;
}

.touch3 {
    background-color: rgb(255, 0, 0);
    width: 3.2vmin;
    height: 3.2vmin;
    margin-right: 0.93vmin;
    margin-left: 0vmin;
}

.touch3:first-child {
    margin-left: -0.1vmin;
    margin-right: 1vmin;
}

.touch3:nth-child(7) {
    margin-left: 0.05vmin;
}

.touch3:nth-child(9) {
    margin-left: -0.05vmin;
}

.touch3:nth-child(10) {
    margin-left: -0.05vmin;
}

.touch3:last-child {
    margin-left: 0.05vmin;
}

/* ------------------------ */
/* ---  KEYBOARD LINE 4 --- */
/* ------------------------ */

.keyboard-line4 {
    height: 3.2vmin;
    width: 47.7vmin;
    position: relative;
    top: 3vmin;
    left: 8.65vmin;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    visibility: hidden;
}

.touch4 {
    background-color: rgb(255, 0, 0);
    width: 3.2vmin;
    height: 3.2vmin;
    margin-left: 0.5vmin;
}

.touch4:first-child {
    margin-left: 0vmin;
}

.touch4:nth-child(11) {
    margin-right: -0.2vmin;
}

.touch4:last-child {
    background-color: rgb(255, 0, 0);
    width: 2.8vmin;
    position: relative;
    left: 0.35vmin;
    margin-left: 0.3vmin;
}


/* ------------------------ */
/* ---  KEYBOARD LINE 5 --- */
/* ------------------------ */

.keyboard-line5 {
    height: 3.2vmin;
    width: 45.6vmin;
    position: relative;
    top: 3.5vmin;
    left: 7.35vmin;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    visibility: hidden;
}

.touch5 {
    background-color: rgb(255, 0, 0);
    width: 3.25vmin;
    height: 3.25vmin;
    margin-right: 1vmin;
}

.touch5:first-child {
    margin-left: -0.1vmin;
    margin-right: 1vmin;
}

/* ------------------------ */
/* ---  KEYBOARD LINE 6 --- */
/* ------------------------ */

.keyboard-line6 {
    height: 3.25vmin;
    width: 46.2vmin;
    position: relative;
    top: 4.15vmin;
    left: 1.4vmin;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    visibility: hidden;
}

.touch6 {
    background-color: rgb(255, 0, 0);
    width: 3.3vmin;
    height: 3.3vmin;
    margin-right: 1vmin;
}

.touch6:first-child {
    width: 4.4vmin;
    position: relative;
    left: 0vmin;
    top: 0vmin;
}

.touch6:nth-child(2) {
    position: relative;
    left: 0vmin;
}

.touch6:nth-child(3) {
    position: relative;
    left: 0vmin;
}

.touch6:nth-child(4) {
    position: relative;
    left: 0vmin;
}

.touch6:nth-child(5) {
    width: 19.4vmin;
    position: relative;
    left: 0vmin;
}

.touch6:nth-child(6) {
    position: relative;
    left: 0vmin;
}

.touch6:last-child {
    position: relative;
    left: 0vmin;
}

/* ------------------------- */
/* ---  KEYBOARD NUM PAD --- */
/* ------------------------- */

.keyboard-pad {
    height: 18.4vmin;
    width: 17vmin;
    position: relative;
    top: -14.55vmin;
    left: 61.3vmin;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    visibility: hidden;
}

.touchpad {
    background-color: rgb(255, 0, 0);
    width: 3.25vmin;
    height: 3.25vmin;
    margin-right: 1vmin;
}

.touchpad:first-child {
    position: relative;
    top: 0.3vmin;
    left: 0.05vmin;
}

.touchpad:nth-child(2) {
    position: relative;
    top: 0.3vmin;
    left: -0.2vmin;
}

.touchpad:nth-child(3) {
    top: 0.3vmin;
    position: relative;
    left: -0.5vmin;
}

.touchpad:nth-child(4) {
    top: 0.3vmin;
    position: relative;
    left: -0.7vmin;
}

.touchpad:nth-child(5) {
    position: relative;
    top: -1.15vmin;
    left: 0.05vmin;
}

.touchpad:nth-child(6) {
    position: relative;
    top: -1.15vmin;
    left: -0.2vmin;
}

.touchpad:nth-child(7) {
    position: relative;
    top: -1.15vmin;
    left: -0.5vmin;
}

.touchpad:nth-child(8) {
    position: relative;
    height: 7.2vmin;
    top: 0.8vmin;
    left: -0.7vmin;
}

.touchpad:nth-child(9) {
    position: relative;
    top: -4.4vmin;
    left: 0.05vmin;
}

.touchpad:nth-child(10) {
    position: relative;
    top: -4.4vmin;
    left: -0.2vmin;
}

.touchpad:nth-child(11) {
    position: relative;
    top: -4.4vmin;
    left: -0.5vmin;
}

.touchpad:nth-child(12) {
    position: relative;
    height: 7vmin;
    top: 1.2vmin;
    left: -0.7vmin;
}

.touchpad:nth-child(13) {
    position: relative;
    top: -5.8vmin;
    left: 0.05vmin;
}

.touchpad:nth-child(14) {
    position: relative;
    top: -5.8vmin;
    left: -0.2vmin;
}

.touchpad:nth-child(15) {
    position: relative;
    top: -5.8vmin;
    left: -0.5vmin;
}

.touchpad:nth-child(16) {
    position: relative;
    top: -2vmin;
    left: -4.7vmin;
}

.touchpad:last-child {
    position: relative;
    width: 7.3vmin;
    top: -5.2vmin;
    left: 0.05vmin;
}

/* ---------------------- */
/* ---  KEYBOARD LEFT --- */
/* ---------------------- */
.keyboard-left {
    height: 21.1vmin;
    width: 6.2vmin;
    position: relative;
    top: -35.45vmin;
    left: 1.4vmin;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    flex-wrap: nowrap;
    visibility: hidden;
}

.kleft {
    background-color: rgb(255, 0, 0);
    width: 3.25vmin;
    height: 3.25vmin;
    margin-top: 0.9vmin;
}

.kleft:first-child {
    position: relative;
    height: 2.1vmin;
    top: -0.8vmin;
    left: -0.05vmin;
}

.kleft:nth-child(2) {
    position: relative;
    top: -1.15vmin;
    left: -0.05vmin;
}

.kleft:nth-child(3) {
    position: relative;
    width: 5.6vmin;
    top: -1.4vmin;
    left: -0.05vmin;
}

.kleft:nth-child(4) {
    position: relative;
    width: 6.65vmin;
    top: -1.85vmin;
    left: -0.05vmin;
}

.kleft:last-child {
    position: relative;
    width: 4.85vmin;
    height: 3.25vmin;
    top: -2.1vmin;
    left: -0.05vmin;
}


/* ------------- */
/* ---  MENU --- */
/* ------------- */

.submenu {
    height: 53.8vmin;
    width: 38vmin;
    position: relative;
    top: 3vmin;
    left: 1vmin;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    flex-wrap: nowrap;
    visibility: hidden;
}

.menu1 {
    width: 38vmin;
    height: 2.5vmin;
    background-color: rgb(0, 130, 255);
    position: relative;
    top: 0vmin;
    padding: 0;
    margin-bottom: 0.6vmin;
}

.menu1:first-child {
    margin-top: 0.8vmin;
}

.menu1:nth-child(3) {
    margin-top: 0.2vmin;
}

.menu1:nth-child(11) {
    margin-top: 0.2vmin;
}

.menu1:nth-child(13) {
    margin-top: 0.2vmin;
}

/*.menu1:nth-child(2) {
    top: 0.1vmin;
}

.menu1:nth-child(3) {
    top: 0.2vmin;
}

.menu1:nth-child(4) {
    top: 0.2vmin;
}

.menu1:nth-child(5) {
    top: 0vmin;
}

.menu1:nth-child(6) {
    top: 0.1vmin;
}

.menu1:nth-child(7) {
    top: 0.1vmin;
}

.menu1:nth-child(8) {
    top: 0.1vmin;
}

.menu1:nth-child(8) {
    top: 0.1vmin;
}

.menu1:nth-child(9) {
    top: 0.1vmin;
}

.menu1:nth-child(10) {
    top: 0vmin;
}

.menu1:nth-child(11) {
    top: 0.1vmin;
}

.menu1:nth-child(12) {
    top: -0.1vmin;
}

.menu1:nth-child(13) {
    top: 0vmin;
}

.menu1:nth-child(14) {
    top: -0.3vmin;
}

.menu1:nth-child(15) {
    top: -0.2vmin;
}

.menu1:nth-child(16) {
    top: -0.2vmin;
}

.menu1:last-child {
    top: -0.2vmin;
} */