@keyframes opacity
{ 
  from { opacity: 0;}
  to {opacity: 0.8;}
}

.pushtouch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: nowrap;
}

.pushtouch-ctrl {
  width: 5.2vmin;
  height: 4vmin;
  position: relative;
  top: -9.58vmin;
  left: -44vmin;
  background-color: red;
  border-radius: 0.5vmin;
  animation: opacity .8s ease-in-out infinite alternate;
}

.pushtouch-s {
    background-color: red;
    border-radius: 0.5vmin;
    width: 4vmin;
    height: 4vmin;
    position: relative;
    top: -23vmin;
    left: -30.4vmin;
    animation: opacity .8s ease-in-out infinite alternate;
}

@media screen and (max-width: 1060px) {
  .keyboard {
    width: 75vmin;
  }
  .pushtouch-ctrl {
    width: 4vmin;
    height: 3vmin;
    top: -7.6vmin;
    left: -32.95vmin;
  }
  .pushtouch-s {
        width: 3vmin;
        height: 3vmin;
        top: -17.8vmin;
        left: -22.75vmin;
    }
}