/* ---------------- */
/* - JSON CONTENT - */
/* ---------------- */

.contentbox {
  display:flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 1px solid rgb(255, 0, 195); */
}
  
.contenttext {
  /* border: 1px solid rgb(0, 255, 145); */
  text-align: center;
  font-size: 3vmin;
  margin: 10px;
  padding: 10px;
}

.hide-content {
  visibility: hidden;
}

/* -------------------- */
/* - TUTORIAL CONTENT - */
/* -------------------- */
.imagestuto {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.tutosignplus {
  font-size: 8vmin;
  font-weight: bold;
  margin-left: 3vmin;
}

.tutosignplusb {
  font-size: 8vmin;
  font-weight: bold;
  padding: 3vmin;
}

.arrownmouse {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  flex-wrap: nowrap;
}

.mousewheelarrows {
  width: 8vmin;
  height: 15vmin;
  z-index: 1;
  position: relative;
  left: 13.1vmin;
  top: -15vmin;
}

.mousewheelleftclick {
  width: 8vmin;
  height: 15vmin;
  z-index: 1;
  position: relative;
  left: 5vmin;
  top: -14vmin;
}

.mousewheelrightlick {
  width: 8vmin;
  height: 15vmin;
  z-index: 1;
  position: relative;
  left: 20vmin;
  top: -14vmin;
}

.arrownmouse1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 30vmin;
  width: 30vmin;
  margin-right: 2vmin;
  margin-left: 2vmin;
}

.your-image {
  height: 30vmin;
  width: 30vmin;
  position: relative;
  margin: 0 auto;
  right: 6vmin;
}

.pointerovermouse {
  width: 8vmin;
  height: 15vmin;
  z-index: 1;
  position: relative;
  top: -6vmin;
  left: 20vmin;
}


/* -------------------- */
/* - KEYBOARD CONTENT - */
/* -------------------- */
.keyboard-touch {
  width: 20vmin;
  height: 20vmin;
  border-radius: 2vmin;
}

.Keyboard-parent {
  /* border: 1px solid pink; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 2vmin;
}

.keyboard {
  width: 78vmin;
  height: 30vmin;
  margin: 0 auto;
  align-items: center;
  position: absolute;
}

/* ------------------ */
/* - GLOBAL CONTENT - */
/* ------------------ */
.hrcontent {
  width: 50vmin;
}

.Empty_Tutorial{
  color:crimson;
  font-weight: bold;
  text-shadow: #000000 1px 2px;
}

.up-down-anim {
  animation: upndown .5s ease-in-out infinite alternate;
}

.scale-in-out-anim {
  animation: upndownwscale .4s ease-in-out infinite alternate;
}

@keyframes upndown
{ 
  from {transform: translateY(-2vmin);}
  to { transform: translateY(1vmin);}
}
  
@keyframes upndownwscale
{ 
  from {
    transform: scale(1);
  }
  to { 
    transform: scale(1.1);
  }
}

@media screen and (max-width: 760px) {
	.Keyboard-parent {
    flex-direction: column;
	}
}